<section class="zone-disponibilites page-3">
<div class="row">
<h1>Quel rythme de mission?</h1>

<div class="type-button">
<button class="btn m-3"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
Mission rapide<img src="{{ asset('/images/puzzle1.png') }}" width="50">
</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
<div class="offcanvas-body">
    <p>Pendant quelques mois (2 à 6) à raison de 2h/mois : de la flexibilité pour m'engager. </p>
</div>
</div>
</div>
<div class="type-button">
<button class="btn m-3"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample2" aria-controls="offcanvasExample">
Mission sur plusieurs mois<img src="{{ asset('/images/puzzle2.png') }}" width="50">
</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample2" aria-labelledby="offcanvasExample2Label">
    <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
<div class="offcanvas-body">
    <div>
    <p>Pendant environ 6 mois, à raison de 4h/mois : un rdv hebdomadaire plutôt sympa. </p>
    </div>
</div>
</div>
</div>
<div class="type-button">
<button class="btn m-3"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample3" aria-controls="offcanvasExample">
Mission rapide<img src="{{ asset('/images/puzzle3.png') }}" width="50">
</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample3" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
<div class="offcanvas-body">
    <div>
    <p>Pour 6 mois ou plus, à raison de 1h-3h/mois : de la flexibilité pour m'engager.  </p>
    </div>
</div>
</div>
</div>
<div class="type-button">
<button class="btn m-3"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample4" aria-controls="offcanvasExample">
Mission sur plusieurs mois<img src="{{ asset('/images/puzzle4.png') }}" width="50">
</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample4" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
<div class="offcanvas-body">
    <div>
    <p>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé. </p>
    </div>
</div>
</div>
</div>
<div class="type-button">
<button class="btn m-3"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample5" aria-controls="offcanvasExample">
Mission sur plusieurs mois<img src="{{ asset('/images/puzzle1.png') }}" width="50">
</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample5" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
<div class="offcanvas-body">
    <div>
    <p>Sur toute une année scolaire, à raison d'1h-2h/mois : la continuité c'est la clé. </p>
    </div>
</div>
</div>
</div>
</section>